# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm project files
.idea/

# Miscellaneous
*.log
*.swp
.DS_Store

# Flask instance folder
instance/
.webassets-cache

# Environment variables file
.env
.env.*
